.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: $font-dark-pink;
  height: 44px;
  width: 180px;
  border: 0;
  border-radius: 22px;
  transition: 250ms color, 250ms background-color ;
  cursor: pointer;
  &:hover,
  &:focus {
    color: white;
    background-color: $font-dark-pink;
    & > svg {
      fill: white;
    }
  }

  & > svg {
    width: 20px;
    height: 20px;
    fill: $font-dark-pink;
    margin-left: 12px;
  }
  
  &--mobile {
    width: 100%;
  }
  &--close {
    background: url(../images/close.svg);
    fill: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 23.28px;
    right: 28px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: rotate(-90deg);
    transition: 250ms transform;
    &:hover,
    &:focus {
      transform: rotate(90deg);
    }
  }
  &--product {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    & > svg {
      width: 16px;
      height: 16px;
      margin: 0;
    }
  }
}
