$bright-pink: #FFF5F6;
$main-bg-color: #FFB8CA;
$dark-pink: #E17992;
$font-pink: #FFA5BA;
$font-dark-pink:#D41443;
$font-gray: #907E82;
$mint-green: #C2E297;
$coffee-brown: #F0D1A5;
$tablet: screen and (min-width: 768px);
$desktop: screen and (min-width: 1280px);
